<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.1.3/vue-router.min.js"></script>
</head>
<body>
<!--
		讨论
			1. 在使用watch的例子中，我们发现，使用keyup事件和watch属性，都能达到相同的效果。
			2. 但是对于那些在页面上无法显示的，或者无法接收键盘输入的数据，则只能使用watch来监视其变化了！比如，路由地址的变化！
	-->
	 <div id="app">
	 	firstname: <input type="text" v-model="firstname"  />
	 	lastname: <input type="text" v-model="lastname"  />
	 	fullname: <input type="text" v-model="fullname"  />
	 </div>
	 <script>
	 	var app = new Vue({
	 		el:"#app",
	 		data: {
	 			firstname:'',
	 			lastname:'',
	 			fullname:''
	 		},
	 		methods: {
	 			showFullname() {
	 				// 每当在input框中键盘弹起，就会触发事件处理函数，在该函数中，会拼接全名
	 				this.fullname = this.firstname + " " + this.lastname;
	 			}
	 		},
			watch:{
				firstname(newVal,oldVal){
					console.log(newVal +"        "+ oldVal)
					this.fullname = this.firstname + " " + this.lastname;
				},
				lastname(){
					this.fullname = this.firstname + " " + this.lastname;
				}
			}
	 	});
	 </script>
</body>
</html>